@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color:white;
}
body{
    background-color:#1A0B2E;
}
/* Shared Style */
.container{
    max-width:1122px;
    margin:0 auto;
}
.heading{
    font-size:45px;
    font-weight:bold;
}

.para{
    font-size:14px;
    font-weight:400;
    opacity: 80%;
}
.flex{
    display:flex;
}
.display-none{
    display:none;
}

.btn{
    background:linear-gradient(48deg,#F7E93F 10%,#FB09B4 51%,#9100F8 100%);
    border:none;
    border-radius:10000px;
    padding:12px 15px;
    font-size:15px;
    font-weight: 600;
}

/* Navbar Style */

nav{
    justify-content:space-between;
    align-items: center;
    padding:28px 0px;
    
   
   
}
ul{
    list-style-type:none;
    gap:30px;
   
}
ul a{
    text-decoration: none;

}

nav button{
    justify-content: center;
    align-items: center;
    gap:6px;
} 

/* Banner Style */
.banner{
    background-image:url('../assets/hero-bg.png');
    background-position:-39px 0px;
    text-align: center;
    padding:95px 0px;
}

.hero-circle{
    position:relative;
    left:38.5%;
    width:330px;
    margin-bottom: 40px;
    
}

.mic{
    position: absolute;
    top:25%;
    left:38%;
    width:110px;  
}

.tooltip{
    background-color:#00FF88;
    color:#1A0B2E;
    font-size: 17px;
    font-size: 600;
    padding:8px 16px;
    border-radius: 10000px;
    position: absolute;
    left: 75%;
    top:3%;
    animation:color 3s infinite ease-in-out;
}
.hero-details{
    max-width:550px;
    margin:0px auto;
}

.hero-details h1{
    font-size:56px;
    font-weight:bolder;
    margin-bottom:8px;

}

.hero-btn{
    justify-content: center;
    gap:8px;
    margin-top:24px;
}

.listen-btn,.message-btn{
    align-items: center;
    gap:8px;
    flex-direction: row;

}

.message-btn{
    background:transparent;
    border:1px solid #00FF88;
    color:#00FF88;
}

@keyframes color{
    0%{background-color:#00FF88}
    50%{background-color:#FB09B4;transform:scale(1.05,1.05);}
    100%{background-color:#00FF88}
}

/* About Section Style */

.about{
    padding:46px 0px;
    text-align: center; 
    left:3.5%;
}
.about-details{
    position:relative;
  
}
.about-details h1{
    margin-bottom:15px;
}

.about-cards{
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    justify-content: space-between;
   
}
.about-cards .card h1{
    color:#00FF88;
    font-size: 46px;
    font-weight: 900;
    margin-bottom:15px;
    text-align: center;
    line-height: 55px;
    height:auto;
}
.about-cards .card p{
    text-transform:uppercase;
}

/* Choose Section Style */

.choose{
    background-color:#230E3D;
    padding:110px 0px;
}
.choose-content h1{
    text-align: center;
    margin-bottom:38px;
}

.choose-grid > div{
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    padding:40px;
    background-color:rgba(53, 17, 101, 0.4);
    gap:15px;
    border-radius: 38px;
}

.choose-grid > div>h2{
    font-size: 22px;
    font-weight: 700;
}

.choose-grid > div>p{
    opacity: .6;
}

.choose-grid img{
    width:50px;
}

.choose-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:28px;
}

.choose1{
    grid-column: span 1;
    grid-row:span 2;
}

.choose2{
    grid-column: span 2;
    grid-row:span 1;
}

.choose3{
    grid-column: span 2;
    grid-row:span 1;
}
.choose4{
    grid-column: span 2;
    grid-row:span 1;
}


/* featured Section Style */

.featured{
    padding:110px 0px;
}

.featured h1{
    text-align: center;
    margin-bottom: 38px;
}
.featured-card{
    justify-content: space-between;
    
}
.featured .featured-card .card{
    width:355px;
    border-radius:24px;
    background-color:#250D44;
}
.featured .featured-card .card iframe{
    width:100%;
    border-radius:24px 24px 0px 0px;
}

.featured-card h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom:12px ;
}

.featured-card p{
    margin:12px 0px;
    opacity: .6;
}

.featured-card .time{
    gap:8px;
    font-size: 15px;
    font-weight: 600;
    align-items: center;
    color:#00FF88;
    opacity:1;

}