@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin:0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color:white;
}
body{
    background-color:#1A0B2E;
}
/* Shared Style */
.container{
    max-width:1122px;
    margin:0 auto;
}
.heading{
    font-size:45px;
    font-weight:bold;
}

.para{
    font-size:14px;
    font-weight:400;
    opacity: 80%;
}
.flex{
    display:flex;
}
.display-none{
    display:none;
}

.btn{
    background:linear-gradient(48deg,#F7E93F 10%,#FB09B4 51%,#9100F8 100%);
    border:none;
    border-radius:10000px;
    padding:12px 15px;
    font-size:15px;
    font-weight: 600;
}

/* Navbar Style */

nav{
    justify-content:space-between;
    align-items: center;
    padding:28px 0px;
    
   
   
}
ul{
    list-style-type:none;
    gap:30px;
   
}
ul a{
    text-decoration: none;

}

nav button{
    justify-content: center;
    align-items: center;
    gap:6px;
} 

/* Banner Style */
.banner{
    background-image:url('../assets/hero-bg.png');
    height:710px;
    text-align: center;
    padding:95px 0px;
}

.hero-circle{
    position:relative;
    left:42%;
    width:330px;
    margin-bottom: 40px;
}

.mic{
    position: absolute;
    top:25%;
    left:38%;
    width:110px;  
}

.tooltip{
    background-color:#00FF88;
    color:#1A0B2E;
    font-size: 17px;
    font-size: 600;
    padding:8px 16px;
    border-radius: 10000px;
    position: absolute;
    left: 75%;
    top:3%;
}
.hero-details{
    max-width:550px;
    margin:0px auto;
    position:relative;
    left:3.5%;
}

.hero-details h1{
    font-size:56px;
    font-weight:bolder;
    margin-bottom:8px;

}

.hero-btn{
    justify-content: center;
    gap:8px;
    margin-top:24px;
}

.listen-btn,.message-btn{
    align-items: center;
    gap:8px;
    flex-direction: row;

}

.message-btn{
    background:transparent;
    border:1px solid #00FF88;
    color:#00FF88;
}