@media screen and (max-width:576px) {
   .navbar{
       width:90%;
       margin:0px auto;
   }
   .nav-logo{
        width:178px;
        height:26px;
   }
    nav ul a{
        display:none;
        
    }
    .nav-btn{
        display:none;
    }
    .hamburger{
        display: inline;
    }

    /* Banner Style */
    .banner{
        width:100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position:0px 35px;
        padding:38px 0px;

    }
    .hero-circle{
        height:185px;
        left: 23%;
    }
    .circle{
        width:185px;
        
    }

    .mic{
        width:44px;
        left:42.5%;
        top:33%;
    }   

   
  .tooltip{
    font-size: 15px;
    font-size: 600;
    padding:6px 15px;
    left: 60%;
    top:3%;
  }

  .hero-details{
    width:90%;
    
}
.hero-details h1{
    font-size:38px;
}

/* About Section Style */
 .about{
    width:90%;
    margin:0px auto;
    padding:38px 0px;


 }   
.about-cards{
     grid-template-columns: repeat(2,1fr);
     gap:38px;
     flex-wrap: wrap;
}

.card h1{
    font-size: 38px;
}


/* Choose Section Style */

.choose-content{
     width:90%;
    margin:0px auto;
}

.choose-grid{
    grid-template-columns: repeat(1,1fr);
}

.choose1,.choose2,.choose3,.choose4,.choose5{
    grid-column: span 1;
    grid-row:span 1;
}

/* featured Section Style */

.featured{
    width:90%;
    margin:0px auto;
}

.featured-card{
    flex-direction: column;
    align-items: center;
    gap:15px;
   
    
}
.featured .featured-card .card{
    width:100%;
   
   
}

/* Host Section Style  */


.host{
    width:90%;
    margin:0px auto;
}
.host-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-icon{
    justify-content: center;
}


/* footer style */

footer .footer-content{
    background-color:rgba(57, 18, 109, 0.3);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: 0px 30px;
    height: 248px;
    padding: 40px 120px;

}
.footer-logo img{
    width:219px;
    height:32px;
}

.footer-social-icon{
    gap:25px;
    margin:25px auto;


}






}