@media screen and (max-width:576px) {
   .navbar{
       margin:0px 20px;
   }
   .nav-logo{
        width:137px;
        height:20px;
   }
    nav ul a{
        display:none;
        
    }
    .nav-btn{
        display:none;
    }
    .hamburger{
        display: inline;
    }
}